option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    PORT: "8000"
    FLASK_APP: "application.py"
    FLASK_ENV: "production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    SecurityGroups: ['your-security-group-id']  # Add your security group ID
  aws:ec2:instances:
    InstanceTypes: 't2.micro'

packages:
  yum:
    python3-devel: []
    gcc: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'